body{
    background-color: #f4f4f4;
}

 .image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.image:hover{
   background-color:  red;
}
.image-1{
    width: 200px;
    height: 150px;
    
}

.table{
    display:table;
}

.trow{
    display:table-row;
}

.tcell{
    display: table-cell;
    padding: 10px;
}
label{
    display: block;
    padding-top: 10px;
}
input{
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
}
textarea{
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
}